#indicators ul.parent-list {
    border-radius: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  #indicators ul.parent-list li.parent-item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
  
    padding: 16px;
  }

  #indicators ul.parent-list li.parent-item span.parent-item-title {
    margin-bottom: 16px;
  }
  
.dark-theme #indicators ul.parent-list li.parent-item {
  background-color: var(--ama-color-background-dark-lighter);
}

#indicators ul.inner-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

