<div fxLayout="row">
  <h1 class="mat-display-1" mat-dialog-title>{{ "DIRECTORIES_PAGE.ADD.title" | translate }}</h1>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Close dialog" mat-dialog-close>
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>
<form (submit)="createDirectory($event)" [formGroup]="directoryForm" novalidate>
  <mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
    <div class="add-directory-block" fxLayout="column">
      <mat-form-field>
        <label for="directory_name_input">{{ "DIRECTORIES_PAGE.ADD.name_label" | translate }}</label>
        <input id="directory_name_input" matInput formControlName="name" [errorStateMatcher]="matcher" cdkFocusInitial required>
        <button type="button" *ngIf="directoryForm.value.name" matSuffix mat-icon-button aria-label="Clear"
          (click)="directoryForm.controls.name.reset()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
        <mat-error *ngIf="directoryForm.controls.name.status === 'PENDING'">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-error>
        <mat-error *ngIf="directoryForm.controls.name.hasError('required')" [innerHTML]="'MISC.required_field' | translate">
        </mat-error>
        <mat-error *ngIf="directoryForm.controls.name.hasError('notTakenName')">{{ "DIRECTORIES_PAGE.ADD.name_exists" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="add-observatorio-block">
      <mat-checkbox color="primary" formControlName="observatory">
        {{ "DIRECTORIES_PAGE.ADD.observatorio_label" | translate }}
      </mat-checkbox>
    </div>
    <div class="add-tags-block" *ngIf="!loadingTags" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <label for="direcrory_tags_input">{{ "DIRECTORIES_PAGE.ADD.tags_label" | translate }}</label>
        <mat-chip-list #tagsChipList required>
          <mat-chip *ngFor="let tag of selectedTags" [selectable]="selectable" [removable]="removable"
            (removed)="removeTag(tag)">
            {{tag.Name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input id="directory_tags_input" #tagInput formControlName="tags" [matAutocomplete]="auto2"
            [matChipInputFor]="tagsChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"/>
          <button type="button" *ngIf="selectedTags.length > 0" matSuffix mat-icon-button aria-label="Clear"
            (click)="selectedTAgs = []">
            <mat-icon aria-hidden="false">close</mat-icon>
          </button>
        </mat-chip-list>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedTag($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.Name">
            {{ tag.Name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="directoryForm.controls.tags.hasError('required')" [innerHTML]="'MISC.required_field' | translate">
        </mat-error>
      </mat-form-field>
    </div>
    <div class="add-type-block">
      <mat-radio-group formControlName="method" fxLayout="row" required>
        <mat-radio-button color="primary" value="cross">
          {{ "DIRECTORIES_PAGE.ADD.cross_tags_label" | translate }}
        </mat-radio-button>
        <span fxFlex="5"></span>
        <mat-radio-button color="primary" value="join">
          {{ "DIRECTORIES_PAGE.ADD.join_tags_label" | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      {{ "DIRECTORIES_PAGE.ADD.reset" | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="directoryForm.invalid" *ngIf="!loadingCreate">
      {{ "DIRECTORIES_PAGE.ADD.submit" | translate }}
    </button>
    <span *ngIf="loadingCreate"><strong>{{ "MISC.loading" | translate }}</strong></span>
  </mat-dialog-actions>
</form>
