.table-filter, 
.table-filter mat-form-field,
.table-filter input {
  width: 100%;
}
.e-cardbuttonSAA{
  border: none;
  padding: 0;
  background: none;
}
.e-cardbuttonSAD{
  border: none;
  padding: 0;
  background: none;
}
.e-cardbuttonSNA{
  border: none;
  padding: 0;
  background: none;
}
.e-cardbuttonSND{
  border: none;
  padding: 0;
  background: none;
}