    <div><span>{{ "A11_STATEMENTS_PAGE.EVALUATIONS_TABLE.caption" | translate }}</span><button  mat-flat-button type="button" color="primary" (click)="exporter.exportTable('csv')">Export</button></div>
    <mat-table matTableExporter   #exporter="matTableExporter" #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.EVALUATIONS_TABLE.type_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.type }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfEvaluations">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.EVALUATIONS_TABLE.numberOfEvaluations_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.numberOfEvaluations }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>