    <div><span>{{ "A11_STATEMENTS_PAGE.STATE_DIRECTORY_TABLE.caption" | translate }}</span><button  mat-flat-button type="button" color="primary" (click)="exporter.exportTable('csv')">Export</button></div>
    <mat-table matTableExporter   #exporter="matTableExporter" #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="seal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.SEAL_TABLE.seal_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.seal }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="declarationNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.SEAL_TABLE.number_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.declarationNumber }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>