<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "A11_STATEMENTS_PAGE.LIST.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "A11_STATEMENTS_PAGE.LIST.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
<app-list-of-a11y-statement></app-list-of-a11y-statement>
<br>
<app-year-table></app-year-table>
<br>
<app-state-table></app-state-table>
<br>
<app-conformance-table></app-conformance-table>
<br>
<app-seal-table></app-seal-table>
<br>
<app-state-directory-table></app-state-directory-table>
<br>
<app-seal-directory-table></app-seal-directory-table>
<br>
<app-conformance-directory-table></app-conformance-directory-table>
<br>
<app-opawtable></app-opawtable>
<br>
<app-evaluations-table></app-evaluations-table>
 </mat-card-content>
</mat-card>