.main-content-home{
    display: flex;
    flex-direction: column;

}
.cards-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
    padding: 30px;
    background: white;
}

h2:not(:first-child){
    margin-top: 20px;
}

.logo {
    width: 320px;
    height: auto;
    padding:10px;
}

