    <mat-table #table [dataSource]="dataSource" matSort>
             <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.CONFORMANCE_DIRECTORY_TABLE.name_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="plenamenteConforme">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.CONFORMANCE_DIRECTORY_TABLE.plenamenteConforme_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.plenamenteConforme }}
        </mat-cell>
      </ng-container>

     <ng-container matColumnDef="parcialmenteConforme">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.CONFORMANCE_DIRECTORY_TABLE.parcialmenteConforme_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.parcialmenteConforme }}
        </mat-cell>
      </ng-container>

        <ng-container matColumnDef="naoConforme">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.CONFORMANCE_DIRECTORY_TABLE.naoConforme_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.naoConforme }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>