<mat-card class="mat-typography">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "HOME_PAGE.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "HOME_PAGE.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <br>
    <div>
      <h3>{{ "HOME_PAGE.observatory" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'folder'" [title]="'directories_label'" [value]="observatory_directories"></app-item>
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="observatory_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="observatory_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.monitor" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="my_monitor_users"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="my_monitor_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.studies" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="access_studies_users"></app-item>
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="access_studies_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="access_studies_websites"></app-item>
      </div>
      <br>
    </div>
    <br>
    <h3>{{ "HOME_PAGE.generate_observatory_title" | translate }}</h3>
    <div>
      <p>{{ "HOME_PAGE.generate_observatory_description" | translate }}</p>
      <button mat-flat-button color="primary" (click)="generateObservatoryData()">{{ "HOME_PAGE.generate_observatory_button" | translate }}</button>
    </div>
    <br>
    <h3>{{ "HOME_PAGE.evaluation_state_title" | translate }}</h3>
    <div fxLayout="column">
      <h4>{{ "HOME_PAGE.evaluation_am_state_title" | translate }}</h4>
      <span>{{ "HOME_PAGE.evaluations_since" | translate }} {{ am_date | date }}: {{ am_counter }}</span>
    </div>
    <br>
    <div fxLayout="column">
      <h4>{{ "HOME_PAGE.evaluation_observatory_state_title" | translate }}</h4>
      <span>{{ "HOME_PAGE.evaluations_since" | translate }} {{ ams_date | date }}: {{ ams_counter }}</span>
      <span>{{ "HOME_PAGE.pages_being_evaluated" | translate }}: {{ admin_evaluating }}</span>
      <span>{{ "HOME_PAGE.waiting_evaluations" | translate }}: {{ admin_waiting }}</span>
      <span>{{ "HOME_PAGE.evaluations_error" | translate }}: {{ admin_error }}</span>
      <div fxLayout="row">
        <button mat-flat-button color="primary" (click)="resetAdminEvaluationList()">{{ "HOME_PAGE.reset_evaluation_list" | translate }}</button>
        <button mat-flat-button color="warn" (click)="deleteAdminEvaluationList()">{{ "HOME_PAGE.delete_evaluation_list" | translate }}</button>
      </div>
      <br>
      <h4>{{ "HOME_PAGE.evaluation_mm_state_title" | translate }}</h4>
      <span>{{ "HOME_PAGE.evaluations_since" | translate }} {{ mm_date | date }}: {{ mm_counter }}</span>
      <span>{{ "HOME_PAGE.pages_being_evaluated" | translate }}: {{ user_evaluating }}</span>
      <span>{{ "HOME_PAGE.waiting_evaluations" | translate }}: {{ user_waiting }}</span>
      <span>{{ "HOME_PAGE.evaluations_error" | translate }}: {{ user_error }}</span>
      <div fxLayout="row">
        <button mat-flat-button color="primary" (click)="resetMyMonitorEvaluationList()">{{ "HOME_PAGE.reset_evaluation_list" | translate }}</button>
        <button mat-flat-button color="warn" (click)="deleteMyMonitorEvaluationList()">{{ "HOME_PAGE.delete_evaluation_list" | translate }}</button>
      </div>
      <br>
      <h4>{{ "HOME_PAGE.evaluation_sm_state_title" | translate }}</h4>
      <span>{{ "HOME_PAGE.evaluations_since" | translate }} {{ sm_date | date }}: {{ sm_counter }}</span>
      <span>{{ "HOME_PAGE.pages_being_evaluated" | translate }}: {{ user_evaluating }}</span>
      <span>{{ "HOME_PAGE.waiting_evaluations" | translate }}: {{ user_waiting }}</span>
      <span>{{ "HOME_PAGE.evaluations_error" | translate }}: {{ user_error }}</span>
      <div fxLayout="row">
        <button mat-flat-button color="primary" (click)="resetStudyMonitorEvaluationList()">{{ "HOME_PAGE.reset_evaluation_list" | translate }}</button>
        <button mat-flat-button color="warn" (click)="deleteStudyMonitorEvaluationList()">{{ "HOME_PAGE.delete_evaluation_list" | translate }}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
