<mat-card class="mat-typography">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h1>{{ "HOME_PAGE.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "HOME_PAGE.subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <br>
    <div>
      <h3>{{ "HOME_PAGE.observatory" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'folder'" [title]="'directories_label'" [value]="observatory_directories"></app-item>
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="observatory_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="observatory_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.monitor" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="my_monitor_users"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="my_monitor_websites"></app-item>
      </div>
      <br>
      <h3>{{ "HOME_PAGE.studies" | translate }}</h3>
      <div fxLayout="row" fxLayoutAlign="none center">
        <app-item [icon]="'person'" [title]="'users_label'" [value]="access_studies_users"></app-item>
        <app-item [icon]="'category'" [title]="'tags_label'" [value]="access_studies_tags"></app-item>
        <app-item [icon]="'web'" [title]="'websites_label'" [value]="access_studies_websites"></app-item>
      </div>
      <br>
    </div>
    <br>
  </mat-card-content>
  <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
    <div>
      <button mat-flat-button color="primary" (click)="generateObservatoryData()">{{ "HOME_PAGE.generate_observatory_data" | translate }}</button>
    </div>
    <br>
    <div class="evaluation-list" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-flat-button color="primary" (click)="resetAdminEvaluationList()">{{ "HOME_PAGE.reset_admin_evaluation_list" | translate }}</button>
          <button mat-flat-button color="warn" (click)="deleteAdminEvaluationList()">{{ "HOME_PAGE.delete_admin_evaluation_list" | translate }}</button>
        </div>
        <br>
        <span>{{ "HOME_PAGE.admin_evaluations" | translate }}</span>
        <br>
        <span>{{ "HOME_PAGE.evaluations_total" | translate }}: {{ admin_total }}</span>
        <span>{{ "HOME_PAGE.pages_being_evaluated" | translate }}: {{ admin_evaluating }}</span>
        <span>{{ "HOME_PAGE.waiting_evaluations" | translate }}: {{ admin_waiting }}</span>
        <span>{{ "HOME_PAGE.evaluations_error" | translate }}: {{ admin_error }}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-flat-button color="primary" (click)="resetUserEvaluationList()">{{ "HOME_PAGE.reset_user_evaluation_list" | translate }}</button>
          <button mat-flat-button color="warn" (click)="deleteUserEvaluationList()">{{ "HOME_PAGE.delete_user_evaluation_list" | translate }}</button>
        </div>
        <br>
        <span>{{ "HOME_PAGE.user_evaluations" | translate }}</span>
        <br>
        <span>{{ "HOME_PAGE.evaluations_total" | translate }}: {{ user_total }}</span>
        <span>{{ "HOME_PAGE.pages_being_evaluated" | translate }}: {{ user_evaluating }}</span>
        <span>{{ "HOME_PAGE.waiting_evaluations" | translate }}: {{ user_waiting }}</span>
        <span>{{ "HOME_PAGE.evaluations_error" | translate }}: {{ user_error }}</span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
