    <mat-table #table [dataSource]="dataSource" matSort>
             <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.STATE_DIRECTORY_TABLE.name_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completeStatement">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.STATE_DIRECTORY_TABLE.completeStatement_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.completeStatement }}
        </mat-cell>
      </ng-container>

            <ng-container matColumnDef="incompleteStatement">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.STATE_DIRECTORY_TABLE.incompleteStatement_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.incompleteStatement }}
        </mat-cell>
      </ng-container>

        <ng-container matColumnDef="possibleStatement">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "A11_STATEMENTS_PAGE.STATE_DIRECTORY_TABLE.possibleStatement_label" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.possibleStatement }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

        <mat-paginator
      [pageSize]="50"
      [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]"
      showFirstLastButtons
    ></mat-paginator>