.card-avaliation {
    background-color: var(--ama-color-background-white);
    padding: 20px;
}

.text-start{
    font-size: 1rem;
    font-weight: bold;
}

.text-init{
    font-size: 1.5rem;
    font-weight: bold;
}

.dark-theme .card-avaliation {
    background-color: var(--ama-color-background-dark-darker);
}
