.content{
    background-color: white;
    padding: 25px;
}

.bg-white {
    background-color: var(--ama-color-background-white) !important;
    padding: 30px !important;
}

ul {
    list-style: disc;
}